* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--heading-color);
}

:root {
  --primary-color: #0f0f0f;
  --secondary-color: #202021;
  --heading-color: #f1f1f1;
  --btn-color: #3ea6ff;
  --btn-hover-color: #6cbaff;
  --hover-color: #3f3f3f;
  --text-color: #858585;
}

html,
body {
  width: 100%;
  height: 100%;
}

p,
a,
li,
button {
  font-size: 18px;
  font-weight: 400;
}

p {
  line-height: 1.4;
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: var(--btn-color);
}

hr {
  border: 1px solid var(--hover-color);
}

.btn {
  padding: 12px 24px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  border: 3px solid var(--primary-color);
  border-radius: 100px;
}

.container {
  max-width: 1290px;
  margin-inline: auto;
  padding: 100px 80px;
}

.common-heading {
  font-size: 56px;
  text-align: center;
  margin-bottom: 100px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(15, 15, 15, 0.85);
  backdrop-filter: blur(25px);
}

.header .mobile-search-icon {
  display: none;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header i {
  color: var(--heading-color);
}

.left-content .menu-icon {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.left-content .logo img {
  width: 90px;
}

.right-content .create-btn {
  background: var(--secondary-color);
  border: none;
  color: var(--heading-color);
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  & i {
    font-size: 18px;
  }
}

.right-content .bell-btn {
  font-size: 22px;
  background: transparent;
  position: relative;

  &::after {
    content: "0+";
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: 12px;
    font-weight: 400;
    color: var(--heading-color);
    background: red;
    padding: 2px 4px;
    border-radius: 10px;
  }
}

.right-content .user-btn {
  width: 34px;
  aspect-ratio: 1/1;

  & img {
    width: 100%;
    border-radius: 50%;
  }
}

.middle-content {
  width: 40%;
}

.middle-content .input-box {
  display: flex;
  width: 100%;
}

.input-box input {
  width: 100%;
  background: rgba(18, 18, 18, 0.8);
  border: 1px solid var(--secondary-color);
  padding: 8px 16px;
  border-radius: 100px 0 0 100px;
  font-size: 16px;
}

.input-box button {
  padding: 8px 16px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 0 100px 100px 0;
}

.middle-content .mic-btn {
  background-color: var(--secondary-color);
  border: none;
  padding: 8px;
  border-radius: 50%;
}

main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      rgba(15, 15, 15, 0),
      rgba(15, 15, 15, 0.3),
      rgba(15, 15, 15, 0.6),
      rgba(15, 15, 15, 1)
    ),
    url(./assets/hero-banner.jpg) no-repeat center;
  background-size: cover;
}

main .container {
  text-align: center;
}

.yt-premium-logo img {
  width: 250px;
}

.yt-premium-content {
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.yt-premium-content h1 {
  font-size: 58px;
  font-weight: 800;
  color: var(--heading-color);
  line-height: 1.4;
}

.yt-premium-content button {
  margin-block: 10px;
  color: var(--primary-color);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: baseline;
  gap: 80px;
}

.feature-box .feature-graphic {
  text-align: center;
  & img {
    width: 80px;
  }
}

.feature-box:first-child .feature-graphic img {
  width: 100px;
}

.feature-box p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.members .container {
  padding-top: 0;
}

.member-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
}

.member-box .member-card {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 25px;
}

.member-card .member-head {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  margin-block: 2px 15px;
}

.member-card .member-mid-content {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  & span {
    font-size: 12px;
    color: var(--text-color);
  }
  & h4 {
    font-size: 20px;
    font-weight: 400;
  }
  & h5 {
    font-size: 14px;
    font-weight: 500;
  }
  & a {
    font-size: 13px;
  }
}

.member-card button {
  width: 100%;
  color: var(--btn-color);
  background-color: #263850;
  &:hover {
    background-color: #2c415c;
  }
}

.member-card:nth-child(1) button {
  background-color: var(--btn-color);
  color: var(--primary-color);
  &:hover {
    background-color: var(--btn-hover-color);
  }
}

.banners .container {
  padding-top: 0;
}

.banner-box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.banner-box .banner-item {
  display: flex;
  align-items: center;
  gap: 40px;
  & h3 {
    font-size: 44px;
  }
  & p {
    color: var(--text-color);
    margin-top: 20px;
  }
}

.banner-content {
  width: 50%;
}

.banner-image {
  width: 50%;
  & img {
    width: 100%;
  }
}

.yt-music {
  width: 100%;
}

.yt-music .container {
  padding-top: 0;
  display: flex;
  border-radius: 30px;
}

.yt-music-content {
  width: 50%;
  background: url(./assets/multi-bg.jpg) no-repeat;
  background-size: cover;
  padding: 50px;
  border-radius: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  & img {
    width: 150px;
  }
  & h3 {
    font-size: 34px;
  }
  & p {
    font-size: 15px;
  }
}

.yt-music-image {
  width: 50%;
}

.yt-music-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 32px 32px 0;
}

.yt-premium-try .container {
  padding-top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  & .common-heading {
    margin-bottom: 0px;
  }
  & p {
    font-size: 13px;
    & a {
      font-size: 14px;
    }
  }
}

.faq .container {
  padding-top: 0;
}

.faq .container .faq-box {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 60px 30px;
  border-radius: 30px;
  & h2 {
    text-align: left;
    margin-bottom: 0;
  }
}

.faq-container {
  margin-top: 50px;
}

.faq-container .faq-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--hover-color);
  padding-block: 20px;
}

.faq-footer {
  margin-top: 20px;
  & h5 {
    font-size: 16px;
  }
  & p {
    font-size: 17px;
    & a {
      font-size: 17px;
    }
  }
}
