* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100vh;
  background: url(./assets/bg.webp) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  width: 50%;
  height: 70%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.login-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 30px 20px;
}

.login-inputs input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
}

.login-action {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.login-action a {
    color: white;
}

.login-action .remember-check {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-action .remember-check input,
.login-action .remember-check label {
  cursor: pointer;
}

.login-action .remember-check input {
  width: 18px;
  height: 18px;
  border: none;
}

button {
  background: black;
  color: white;
  padding: 12px 30px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
}

@media (max-width: 992px) {
    .login-section {
        width: 70%;
        height: auto;
        padding-block: 80px;
    }
    .login-inputs, .login-action {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .login-section {
        width: 90%;
        height: auto;
        padding-block: 50px;
    }
    .login-inputs, .login-action {
        width: 90%;
    }
    .heading {
        font-size: 38px;
    }
}