* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --black-color: #2b2b2b;
  --assets-color: orange;
  --text-color: rgb(104, 104, 104);
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

.store-container {
  width: 100%;
  max-width: 1140px;
  min-height: 100%;
  padding: 40px 20px;
  margin-inline: auto;
}

.heading {
  font-size: 52px;
  text-align: center;
  padding-block: 0 30px;
  color: var(--black-color);
}

.shoe-container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.shoe-card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(214, 214, 214);
}

.shoe-card .shoe-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  overflow: hidden;
}

.shoe-card .shoe-image img {
  border-radius: 15px;
  transition: scale 0.2s linear;
}

.shoe-card .shoe-image img:hover {
  scale: 1.2;
}

.shoe-card .shoe-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px 10px;
}

.shoe-detail .shoe-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shoe-description p {
    color: var(--text-color);
}

.shoe-description p:first-child,
.shoe-description p:last-child {
  font-weight: bold;
  color: var(--black-color);
}

.shoe-detail .shoe-cart-icon img {
  width: 50px;
  cursor: pointer;
}

@media (max-width: 992px) {
    .shoe-card {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 38px;
    }
    .shoe-card {
        width: 100%;
    }
}